#n1{
  border: 2px solid black;
  height: 100px;
  background-color: aqua;
  color:red;
  display:flex;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: flex-start;
  justify-content: flex-end;
  /* justify-content: center; */
  gap: 50px;
  align-items: center;
  align-items: flex-end;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}